body {
    background-image: url("../images/bg.jpg");
}

.main-content-wrapper {
    width: 800px;
    margin: auto;
    background: green;
    height: 500px; 
}

.title-section, .content-section {
    text-align: center;
    overflow: auto;
}

.start-content {
    margin-top: 150px;
}

h1 {
    line-height: 1.5;
    font-size: 40px;
    font-family: 'Bungee Shade', sans-serif;
    color: white;
}

h2, h3, p {
    font-weight: normal;
    line-height: 1;
    font-family: 'Fredoka One', sans-serif;
}

#question-text {
    color: white;   
}

.button {
    color: green;
    background: white;
    margin: 30px;
}

.button {
    width: 30%;
    height: 60px;
    font-size: xx-large;
}

.answer {
    line-height: 1.5;
    color: black;
}
.answer:hover {
    color: white;
}

#solution-image {
    width: 250px;
    height: 200px;
    margin: 15px 0px 30px 0px;
}

#game-over-text{
    color: yellow;
}