.main-content-wrapper {
    width: 80%;
    margin: auto;
    background: yellow;
    height: 100%;
}

.title-area, .timer-area, .content-area {
    text-align: center;
    overflow: auto;
}

h1 {
    line-height: 2;
}

h2, p {
    line-height: 1.5;
}

.button {
    color: blue;
}

.start-button, .restart-button {
    margin: 30px;
}

.answer {
    font-weight: bold;
    color: purple;
}
.answer:hover {
    color: blue;
}

#answer-image {
    width: 250px;
    height: 200px;
    margin: 30px 0px 30px 0px;
}